@model IEnumerable<BrandModel>

@foreach (var brand in Model)
{
	<div class="panel panel-default">
		<div class="panel-heading">
			<h4 class="panel-title"><a href="#">@brand.Name</a></h4>
		</div>
	</div>
}
